version: '3'

services:
  app:
    image: embraslabs/ruby:2.7.7
    stdin_open: true
    depends_on:
      - db
    volumes:
      - .:/app
      - gems:/.gems

  db:
    image: jacobalberty/firebird:2.5.8-ss
    environment:
      - ISC_PASSWORD=masterkey
      - TZ=America/Sao_Paulo
    volumes:
      - firebird:/firebird
      - ./db:/firebird/data

volumes:
  gems:
  firebird:
